@model IEnumerable<Todo.Models.TodoIndexVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table id="todolist">
    @foreach(var m in Model)
    {
        <tr><td>@Html.ActionLink(m.Title, "edit", new {Id = m.Id})</td><td>@m.Entry</td></tr>
    }
</table>